@import "./colors";

@mixin border-preset($direction) {
    border-#{$direction}: $general-border-width solid $border-color;
}

@mixin absolute-content {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}