* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(175, 175, 93);
}

ul,
ol {
  list-style: none;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-items: center;
  align-items: center;
}

.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-4xl {
  font-size: 2.25rem;
}
.text-5xl {
  font-size: 3rem;
}
.text-6xl {
  font-size: 3.75rem;
}
.text-7xl {
  font-size: 4.5rem;
}
.text-8xl {
  font-size: 6rem;
}
.text-9xl {
  font-size: 8rem;
}
