@import "../../../styles/variables";
@import "../../../styles/mixins";

$additional-top-margin: 30px;
$margin-inline: 15px;

.grid {
  margin-left: calc((100% - $header-width) / 2);
  margin-top: calc($header-size + $additional-top-margin);
  height: calc(100% - $additional-top-margin);
  display: grid;
  grid-template-areas:
    "first third fifth"
    "second fourth fifth";
  grid-template-columns: 25% 30% 45%;
  grid-template-rows: 45% 55%;

  .authors-file,
  .artist {
    @include border-preset(right);
    position: relative;
  }

  .authors-file {
    grid-area: first;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: $additional-top-margin / 2;
  }

  .authors-file::after {
    @include absolute-content;
    @include border-preset(bottom);
    width: 93%;
    height: 100%;
    left: -$additional-top-margin / 2;
    top: -$general-border-width;
  }

  .artist {
    grid-area: second;
  }

  .artist,
  .second-description {
    padding-top: $additional-top-margin;
  }

  .first-description,
  .second-description {
    margin-inline: $margin-inline;
  }

  .first-description {
    @include border-preset(bottom);
    grid-area: third;
  }

  .second-description {
    grid-area: fourth;

    p {
      width: 150px;
    }
  }
}

.image {
  grid-area: fifth;
  position: relative;
  margin-top: -$additional-top-margin + $general-border-width;
}
