@import '../styles/variables';
@import '../styles/colors';
@import '../styles/mixins';

$button-container-padding: 25px;
$button-container-height: calc(100% - $button-container-padding * 2 - 65px);

.page-container {
    margin-top: $header-size;
    display: flex;
    height: 100%;
}

.button-container-wrapper {
    height: 100%;
    position: relative;
    z-index: 1;
}

.button-container {
    height: $button-container-height;
    padding: $button-container-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container-wrapper::after {
    @include absolute-content;
    transform: translate(-50%, -50%);
    top: calc(50% + $general-border-width);
    left: calc(50% - $general-border-width + 1px);
}

.bottom-box {
    @include border-preset(top);
    height: calc(100% - $button-container-height);
}

.bottom-box::after {
    @include border-preset(right);
    @include absolute-content;
    transform: translate(-50%, -50%);
    top: calc(50% + $general-border-width);
    left: calc(50% - $general-border-width + 1px);
}

.artists-container {
    display: flex;
    width: calc(90% - ($button-container-padding * 2) + $button-width);
    margin-left: -$general-border-width;
    overflow-x: scroll;
    scrollbar-width: none;
}