@import "../../styles/variables";

.info-grid {
    margin-top: $header-size;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 50% 50%;
}

.info-grid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;

    div {
        background-color: red;
        border: 1px solid blue;
    }
}