@import '../../styles/variables';
@import '../../styles/colors';

.artists-scroller {
    min-width: 420px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.artists-scroller:nth-child(n + 1) {
    margin-left: -$general-border-width;
    border-left: $general-border-width solid $border-color;
}

.country {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 98%;
    margin-inline: $general-border-width;
    background-color: $background-color;
    height: calc(10% - $general-border-width * 2)
}