@import './styles/variables';
@import './styles/colors';

.header-container {
  position: absolute;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-bottom: $general-border-width solid $border-color;
  width: 98%;
}
.header-menu-container {
  width: 25vw;
  height: $header-size;
}
.header-menu-icon {
  width: 30px;
  height: 30px;
}
.header-title-container {
  width: 41vw;
}
.header-title {
  font-size: 1.3rem;
}
.header-nav-container {
    width: 34vw;
}
.header-nav-list{
    display: flex;
    align-items: center;
}
.header-nav-list-separator{
    margin-inline: 5px;
    font-size: 1.3rem;
}
.main-container {
  height: $main-size;
}